<div style="color: green;"><p><b>Search Result :</b> {{notificationMessage}}</p></div>

<div class="container-fluid">
    <div class="text-center main-header">
        <p>Sports</p>
    </div>
    <div><p>Last Updated on: {{currentDate}}</p></div> 
</div>
<div class="container-fluid home-container">
    <div class="col-12 news-container">

        <div class=" news-left-container">
            <div>
                <img src="../../../assets/images/mcdowell-golf.jpg" alt="" class="News-bigImg" id="dragitem14" draggable="true" (dragstart)="drag($event)">
                <p class="article-header">
                    Golf: Former US Open champion Graeme McDowell wants Ryder Cup eligibility for LIV's European players
                </p>
                <div class="place">
                    <span>Updated: Jul 06, 2023, 05:19 PM IST</span>
                </div>
                <p class="article-content">
                    The DP World Tour would look "foolish" if European players from the LIV Golf circuit are not considered for this year's Ryder Cup as their American counterparts remain eligible, former U.S. Open champion Graeme McDowell said. Sergio Garcia, Ian Poulter and Lee Westwood, who have played 28 Ryder Cups between them and are now with the LIV Series, are ineligible for this year's edition of the biennial competition after resigning from the DP World Tour in May.
                </p>
                <p class="article-content">
                    However, American players who joined the LIV circuit can still qualify for the U.S. team given they are members of the PGA of America. "To ignore LIV because of politics when the U.S. have those players in their side doesn't make any sense," former Europe vice-captain McDowell, who plays for the Saudi-backed circuit, told the BBC. "It makes Europe's tour look foolish. "I hope that if one of the European players at LIV puts in a summer deserving of a spot on the Ryder Cup side that the landscape would be available for that to happen."
                </p>
                <p class="article-content">
                    The PGA Tour, DP World Tour and rival LIV circuit, which had been involved in a bitter fight that split the sport, announced an agreement in early June to merge and form a unified commercial entity. Northern Ireland's McDowell, who was on the winning team in three of his four Ryder Cup appearances, also called for Europe's all-time record points scorer Garcia to be reinstated.


                </p>
            </div>
        </div>
        <div>
            <h3 class="text-center main-header">More News</h3>
        </div>
        <div class="news-left-container">
            <div class="col-md-12 col-12 thumb-container">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/neeraj-chopra.jpg" alt="" class="thumb-img" id="dragitem15" draggable="true" (dragstart)="drag($event)">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="sports/updates">Neeraj Chopra's coach Dr Klaus Bartonietz talks about Olympian's fitness</a>
                    </p>
                    <p class="thumb-card-para">
                        Indian star javelin thrower Neeraj Chopra has opened up about his fitness level ahead of the World  Athletics Championships. The athlete stated that he wants to work on his fitness to perform better at the competition.
                    </p>
                    <p>6 July 2023 9:55 AM</p>

                </div>
            </div>
             <!-- border bottom -->
        <div class="border"></div>

            <div class="col-md-12 col-12 thumb-container">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/match.jpg" alt="" class="thumb-img" id="dragitem16" draggable="true" (dragstart)="drag($event)">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="sports/updates" class="thumb-anchor">CWC'23 Qualifier: Bas de Leede's heroics helps Netherlands beat Scotland by four wickets, seal World Cup berth
                        </a>
                    </p>
                    <p class="thumb-card-para">
                        The Netherlands stunned Scotland by four wickets to seal the ICC Men’s Cricket World Cup berth on Thursday in Bulawayo. Needing to chase 278 inside 44 overs to stay ahead of Scotland on the Net Run Rate (NRR), Bas de Leede’s five-for in the first innings and a brilliant 123 off 92 balls helped the Netherlands punch their ticket for the mega event in India, starting October 5. 
                    </p>
                    <p>6 July 2023 9:55 AM</p>
                </div>
            </div>
        </div>
         <!-- border bottom -->
        <div class="border"></div>
    </div>
   
</div>