<div><p style="color: green;"><b>Search Result :</b> {{notificationMessage}}</p></div>
<div class="container-fluid">
    <div class="text-center main-header">
        <p>Entertainment</p>
    </div>
    <div><p>Last Updated on: {{currentDate}}</p></div> 
</div>
<div class="container-fluid home-container">
    <div class="col-12 news-container">

        <div class=" news-left-container">
            <div>
                <img src="../../../assets/images/maxresdefault.jpg" alt="" class="News-bigImg">
                <p class="article-header">
                    Ranveer Singh birthday: Karan Johar wishes 'Rocky' with unseen pictures
                </p>
                <div class="place">
                    <span>Updated: Jul 06, 2023, 05:19 PM IST</span>
                </div>
                <p class="article-content">
                    Bollywood filmmaker Karan Johar has been vaishali.storytailors@gmail.combusy with his upcoming film, Rocky Aur Rani Kii Prem Kahaani. Nevertheless, how could he forget about his lead Rocky aka Ranveer Singh's birthday? Wishing the B-town's heartthrob on his special day, KJo dropped a bunch of unseen pictures from the sets of his upcoming film. He wrote: "It's Rocky's day. Happiest birthday to this magnanimous force of nature. Thank you for giving all your heart to our kahaani, Rocky Aur Rani Kii Prem Kahaani. Lots of love to you always." In these BTS pictures, Karan Johar can be seen explaining the scenes to Ranveer.
                </p>
                <p class="article-content">
                    Rocky Aur Rani Kii Prem Kahaani is a star-studded film with Bollywood's bubbly actress Alia Bhatt and veterans like Dharmendra, Shabana Azmi, and Jaya Bachchan. This film will mark the first collaboration between Karan Johar and Ranveer Singh, and will be the second film for both the lead actors after Zoya Akhtar’s Gully Boy. The trailer of Rocky Aur Rani Kii Prem Kahaani, which released earlier this week, received a good response from the audience. The film is all set to hit theatres on July 28.
                </p>
                <p class="article-content">
                    Ranveer Singh is celebrating his 38th birthday today. On this special occasion, wishes have been pouring in from his friends, industry colleagues and fans on social media. Notable, the Pamaavat actor has featured in at least 29 Bollywood films, in his 13 years of acting career. He has also bagged five Filmfare Best Actor awards.
                </p>
            </div>
        </div>
        <div>
            <h3 class="text-center main-header">More News</h3>
        </div>
        <div class="news-left-container">
            <div class="col-md-12 col-12 thumb-container">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/warner.jpg" alt="" class="thumb-img">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="entertainment/updates">The Flash finally crosses $100 million mark in US: What does it mean?</a>
                    </p>
                    <p class="thumb-card-para">
                        The Flash, Warner Bros DC multiverse adventure movie, has struggled at the box office, being considered a financial disappointment. Despite
                    </p>
                    <p>6 July 2023 9:55 AM</p>

                </div>
            </div>
             <!-- border bottom -->
        <div class="border"></div>

            <div class="col-md-12 col-12 thumb-container">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/peaky.jpg" alt="" class="thumb-img">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="entertainment/updates" class="thumb-anchor">We do not support! Peaky Blinders makers slam Ron DeSantis for using show's footage in homophobic ad
                        </a>
                    </p>
                    <p class="thumb-card-para">
                        Oscar-winner Steven Knights Peaky Blinders is a classic gangster drama. The highly-successful series concluded with season 6 last year. 
                    </p>
                    <p>6 July 2023 9:55 AM</p>
                </div>
            </div>
        </div>

        <div class="border"></div>
    </div>

</div>