<div id="dropzone" (dragover)="allowDrop($event)" (drop)="drop($event)">
<app-header></app-header>
<div class="container-fluid">

</div>
<div class="container-fluid home-container">
    <div class=" col-md-9 col-12 pl-0 pr-0 news-container">
        <router-outlet></router-outlet>





    </div>
    <div class="col-md-3 col-12 related-container pl-0 pr-0 ">
        <div class="news-right-container">

            <h3>Related News</h3>

        </div>
        <div class="container pl-0 pr-0">


            <div class="container right-side pl-0 pr-0">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/singer.jpg" alt="" class="thumb-img" id="dragitem1" draggable="true" (dragstart)="drag($event)">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="dailynews/updates">Disney star and pop singer dies at 48.</a>
                    </p>
                    <p class="thumb-card-para">
                        Singer Coco Lee, who enjoyed pop stardom in Asia in the 1990s and 2000s, has died at the age of
                        48.
                    </p>
                    <p class="date">6 July 2023 9:55 AM</p>
                </div>
            </div>
            <!-- border bottom -->
            <div class="border"></div>

            <div class="container right-side pl-0 pr-0">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/warner.jpg" alt="" class="thumb-img" id="dragitem2" draggable="true" (dragstart)="drag($event)">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="entertainment/updates">The Flash finally crosses $100 million
                            mark in US: What does it
                            mean?</a>
                    </p>
                    <p class="thumb-card-para">
                        The Flash, Warner Bros DC multiverse adventure movie, has struggled at the box office, being
                        considered
                        a financial disappointment. Despite
                    </p>
                    <p class="date">6 July 2023 9:55 AM</p>

                </div>
            </div>
            <!-- border bottom -->
            <div class="border"></div>

            <div class="container right-side pl-0 pr-0">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/neeraj-chopra.jpg" alt="" class="thumb-img" id="dragitem3" draggable="true" (dragstart)="drag($event)">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="sports/updates">Neeraj Chopra's coach Dr Klaus Bartonietz talks
                            about Olympian's
                            fitness</a>
                    </p>
                    <p class="thumb-card-para">
                        Indian star javelin thrower Neeraj Chopra has opened up about his fitness level ahead of the
                        World
                        Athletics Championships. The athlete stated that he wants to work on his fitness to perform
                        better at
                        the competition.
                    </p>
                    <p class="date">6 July 2023 9:55 AM</p>

                </div>
            </div>
            <!-- border bottom -->
            <div class="border"></div>

            <div class="container right-side pl-0 pr-0">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/technology-company.jpg" alt="" class="thumb-img" id="dragitem4" draggable="true" (dragstart)="drag($event)">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="technology/updates">Tech company gives employees a recharge
                            break, declares 9 days paid
                            time off for all</a>
                    </p>
                    <p class="thumb-card-para">
                        More and more companies are realising the importance of short breaks for employees and the
                        effect it can have on their overall productivity. Various studies on the internet talk about the
                        benefits of taking a day off to recharge. And what could be better than your company asking you
                        to take not one, but 9 full days off from work in order to recharge. A tech company did just
                        that and is being praised of the internet for this move. Kudos to the management team for
                        thinking of employees' comfort in times when major companies are conducting large-scale layoffs
                        to cut down on costs.
                    </p>
                    <p class="date">7 July 2023 9:55 AM</p>

                </div>
            </div>
            <!-- border bottom -->
            <div class="border"></div>

            <div class="container right-side pl-0 pr-0">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/peaky.jpg" alt="" class="thumb-img" id="dragitem5" draggable="true" (dragstart)="drag($event)">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="entertainment/updates" class="thumb-anchor">We do not support!
                            Peaky Blinders makers slam
                            Ron DeSantis for using show's footage in homophobic ad
                        </a>
                    </p>
                    <p class="thumb-card-para">
                        Oscar-winner Steven Knights Peaky Blinders is a classic gangster drama. The highly-successful
                        series concluded with season 6 last year.
                    </p>
                    <p class="date">6 July 2023 9:55 AM</p>
                </div>
            </div>
            <!-- border bottom -->
            <div class="border"></div>

            <div class="container right-side pl-0 pr-0">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/match.jpg" alt="" class="thumb-img" id="dragitem6" draggable="true" (dragstart)="drag($event)">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="sports/updates" class="thumb-anchor">CWC'23 Qualifier: Bas de
                            Leede's heroics helps
                            Netherlands beat Scotland by four wickets, seal World Cup berth
                        </a>
                    </p>
                    <p class="thumb-card-para">
                        The Netherlands stunned Scotland by four wickets to seal the ICC Men’s Cricket World Cup berth
                        on Thursday in Bulawayo. Needing to chase 278 inside 44 overs to stay ahead of Scotland on the
                        Net Run Rate (NRR), Bas de Leede’s five-for in the first innings and a brilliant 123 off 92
                        balls helped the Netherlands punch their ticket for the mega event in India, starting October 5.
                    </p>
                    <p class="date">6 July 2023 9:55 AM</p>
                </div>
            </div>
            <!-- border bottom -->
            <div class="border"></div>

            <div class="container right-side pl-0 pr-0">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/Solar-dynamics-observatory-20230704.jpg" alt="" class="thumb-img" id="dragitem7" draggable="true" (dragstart)="drag($event)">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="technology/updates" class="thumb-anchor">NASA spacecraft
                            completes 16th close approach
                            to Sun, appears unharmed
                        </a>
                    </p>
                    <p class="thumb-card-para">
                        NASA’s Parker Solar Probe completed its 16th orbit around the Sun, which included a close
                        approach to the Sun on June 22, 2023, said the space agency. During the close approach, Parker
                        came within 8.5 million kilometres of the Sun’s surface while moving at around 586,782
                        kilometres per hour. The spacecraft seemed to be operating normally without any issues after
                        completing the close flyby.

                    </p>
                    <p class="date">7 July 2023 9:55 AM</p>
                </div>
            </div>
            <!-- border bottom -->
            <div class="border"></div>

            <div class="container right-side pl-0 pr-0">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/images.jpg" alt="" class="thumb-img" id="dragitem8" draggable="true" (dragstart)="drag($event)">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="dailynews/updates" class="thumb-anchor">Massive fire engulfs
                            two factories in
                            Melbourne, Australia
                        </a>
                    </p>
                    <p class="thumb-card-para">
                        Two factories caught massive fire in Melbourne, Australia on Thursday. Fire Rescue Victoria
                        (FRV) crews had reached the site on Clarendon St, near Haigh St in Southbank around 4 pm.
                    </p>
                    <p class="date">7 July 2023 9:55 AM</p>
                </div>
            </div>
            <!-- border bottom -->
            <div class="border"></div>

        </div>
        <div class="filter">
            <h3 class="branches text-center">Our Branches</h3>
            <!-- border bottom -->
            <div class="border"></div>
            <input class="form-control searchBox" type="text" name="search" [(ngModel)]="searchQuery" (input)="filterHeroes()"
                placeholder="Search Branch">

            <br><br>
            <table border="1" class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th>Branch</th>
                        <th>Language</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hero of filteredHeroes" class="text-center">
                        <td>{{ hero.name }}</td>
                        <td>{{ hero.language }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</div>

<app-footer></app-footer>