<div>
    <p style="color: green;"><b>Search Result :</b> {{notificationMessage}}</p>
</div>
<div class="container-fluid">
    <div class="text-center main-header">
        <p>Latest News</p>
        
    </div>
    <div>
        <p>Last Updated on: {{currentDate}} </p>
    </div>
<div class="container-fluid home-container">
    <div class=" col-12 news-container">

        <div class=" news-left-container">
            <div>
                <img src="../../../assets/images/bigNewsImg.jpg" alt="" class="News-bigImg" id="dragitem8" draggable="true" (dragstart)="drag($event)">
                <p class="article-header">
                    US to revise citizenship test after 15 years; Here's everything we know so far
                </p>
                <div class="place">
                    <span>Updated: Jul 06, 2023, 05:19 PM IST</span>
                </div>
                <p class="article-content">
                    The United States' decision to revise the citizenship test has prompted concerns for immigrants and
                    advocates with limited English skills. Individuals seeking US citizenship are eligible only after a
                    months-long process that requires years of legal permanent residency. However, due to the 2020 test
                    changes by the previous administration, people have to face tests with increased difficulty and
                    length. Subsequently, US President Joe Biden signed an executive order to withdraw barriers to
                    citizenship and return to the prior 2008 version for tests.
                </p>
                <p class="article-content">
                    According to recent estimates, about 96 per cent of the applicants pass the test. More than one
                    million people became US citizens, the highest number on record since 2017. Moreover, the United
                    States has an easy citizenship test compared to Germany, Canada, and the United Kingdom.
                </p>
                <p class="article-content">
                    However, the US authorities have deemed the updated test, scheduled to release next year, as
                    essential after 15 years. US Citizenship and Immigration Services might all have a speaking section
                    to the test. An officer would show photos of everyday scenarios in the exam and ask the applicant to
                    describe the pictures verbally. In the current way of speaking test, the officer asks personal
                    questions to the applicant.
                </p>
            </div>
        </div>
        <div>
            <h3 class="text-center main-header">More News</h3>
        </div>
        <div class="news-left-container">
            <div class="col-md-12 col-12 thumb-container">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/singer.jpg" alt="" class="thumb-img" id="dragitem9" draggable="true" (dragstart)="drag($event)">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="dailynews/updates">Disney star and pop singer dies at 48.</a>
                    </p>
                    <p class="thumb-card-para">
                        Singer Coco Lee, who enjoyed pop stardom in Asia in the 1990s and 2000s, has died at the age of
                        48.
                    </p>
                    <p>6 July 2023 9:55 AM</p>

                </div>
            </div>
            <!-- border bottom -->
            <div class="border"></div>

            <div class="col-md-12 col-12 thumb-container">
                <div class="col-4 pl-0 pr-0">
                    <img src="../../../assets/images/images.jpg" alt="" class="thumb-img" id="dragitem10" draggable="true" (dragstart)="drag($event)">
                </div>
                <div class="col-8 thumb-content">
                    <p class="thumb-head"><a routerLink="dailynews/updates">Massive fire engulfs two factories in
                            Melbourne, Australia</a>
                    </p>
                    <p class="thumb-card-para">
                        Two factories caught massive fire in Melbourne, Australia on Thursday. Fire Rescue Victoria
                        (FRV) crews had reached the site on Clarendon St, near Haigh St in Southbank around 4 pm.
                    </p>
                    <p>6 July 2023 9:55 AM</p>

                </div>
            </div>
            <!-- border bottom -->
            <div class="border"></div>
        </div>

    </div>