.home-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.container-fluid {
    /* width: 80%; */
}

.main-header {
    border-bottom: 1px solid #a1a1a1;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 32px;
}

.news-container {
    /* border: 1px solid black; */
    margin-bottom: 70px;
    margin-top: 8px;
    padding-left: 0px;
    padding-right: 0px;
}

.news-left-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-bottom: 47px;
}

.inmid-img {
    width: 100%;
    height: auto;
}

.news-right-container {
    /* border: 1px solid red */
}

.News-bigImg {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.News-bigImg:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.article-header {
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #a1a1a1;
}

.History {
    border-bottom: 1px solid #a1a1a1;
}

.article-content {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
    line-height: 28px;
    text-align: justify;

}

.thumb-content {
    padding-left: 7px;
    padding-right: 7px;
}

.thumb-content a {
    text-decoration: none;
    color: black !important;
    font-weight: bold;
}

.thumb-content a:hover {
    color: red;
}

.thumb-content a:visited {
    color: green;
}

.thumb-img {
    width: 100%;
    height: 163px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.thumb-img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.thumb-container {
    display: flex;
    flex-direction: row;
    padding-right: 0px;
    padding-left: 0px;
}

.thumb-card-para {
    font-size: small;
    width: calc(100% - 20px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.thumb-head {
    width: calc(100% - 20px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.a {
    border-right: 1px solid #a1a1a1;
}

.border {
    border-bottom: 1px solid #a1a1a1;
    margin: 10px;
}

.place {
    font-weight: 500;
    margin-bottom: 16px;
}

/* right side  */
.news-right-container {
    border-bottom: 1px solid #a1a1a1;
    text-align: center;


}

.related-container {
    border: 1px solid #a1a1a1;
    margin-bottom: 70px;
    border-radius: 4px;
}

/* media query */
@media only screen and (max-width: 768px) {
    .home-container {
        display: flex;
        flex-direction: column;
        /* margin-top: 10px; */
    }

    .thumb-img {
        height: 123px;
    }

    .news-container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .News-bigImg {
        height: 254px;
    }

    .main-header {
        font-size: 2.0rem !important;
    }

    .article-header {
        font-size: large;
    }

    .article-content {
        font-size: 16px;
    }

    .aboutBorder {
        margin: -12px 120px;
    }
}